@font-face {
    font-family: 'OCRF-RegularOSFC';
    src: url('OCRF-RegularOSFC.eot');
    src: local('OCRF-RegularOSFC.ttf'), local('OCRF-RegularOSFC'),
        url('OCRF-RegularOSFC.eot?#iefix') format('embedded-opentype'),
        url('OCRF-RegularOSFC.woff') format('woff'),
        url('OCRF-RegularOSFC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}