@import url('reset.css');
@import url('font.css');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: #FFD28F;
    font-size: 3vh;
    font-family: 'OCRF-RegularOSFC';
    line-height: 110%;
    height: 100%;
}

p {
    position: fixed;
    z-index: 2;
}

.p_textUp {
    top: 6vw;
    left: 4vw;
    transform: translateX(2vh) translateY(2.35vh);
}

.p_textDownLeft {
    left: 4vw;
    bottom: 6vw;
    /* transform: translateX(13px) translateY(-11px); */
    transform: translateX(2vh) translateY(-1.7vh);
}

.p_textDownRight {
    /* font-size: 22px; */
    font-size: 3.3vh;
    width: auto;
    right: 4vw;
    bottom: 6vw;
    /* transform: translateX(-15px) translateY(-11px); */
    transform: translateX(-2.15vh) translateY(-1.7vh);
}

.img_borderUpLeft,
.img_borderUpRight,
.img_borderDownLeft,
.img_borderDownRight {
    height: 10.8vh;
    /* height: 19.5vw; */
    /* height: 72px; */
    position: fixed;
}

.img_indicator {
    position: fixed;
    height: 4.8vh;
    /* height: 32px; */
    top: 6vw;
    right: 4vw;
    /* transform: translateX(-16px) translateY(16px); */
    transform: translateX(-2.4vh) translateY(2.4vh);
}

.img_borderUpLeft {
    top: 6vw;
    left: 4vw;
}

.img_borderUpRight {
    top: 6vw;
    right: 4vw;
}

.img_borderDownLeft {
    bottom: 6vw;
    left: 4vw;
}

.img_borderDownRight {
    bottom: 6vw;
    right: 4vw;
}

.img_apple {
    width: 25vh;
    /* margin: 24vh auto; */
    z-index: 0;
    /* position: absolute; */
    /* transform-origin: center; */
}

section {
    height: 650vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

/* ---id--- */

.apple01 {
    width: 25vh;
}

.apple02 {
    width: 31vh;
    padding-right: 3vh;
}

.apple03 {
    width: 30vh;
    padding-top: 2vh;
    padding-right: 2vh;
}

.apple04 {
    width: 30vh;
    padding-top: 2vh;
    padding-right: 2vh;
}

.apple05 {
    width: 27vh;
    padding-top: 2vh;
    padding-right: 0;
}

.apple06 {
    width: 33vh;
    padding-top: 1vh;
    padding-right: 5vh;
}

.apple07 {
    width: 36vh;
    padding-top: 4vh;
    padding-right: 5vh;
}

.apple08 {
    width: 30vh;
}

.apple09 {
    width: 30vh;
}

.apple10 {
    width: 30vh;
}








/*  */
